src/index.pug
//- Mixins
mixin navMenu(navItem)
  li(class=navItem.itemClass)
    a(href=navItem.href class=navItem.linkClass)=navItem.text

mixin card(cardItem)
  .card__wrap
    article.card
      if cardItem.discount
        .card__discount=cardItem.discountPrice
      button.card__like
        img(src="./img/like.svg")
      //- img.card__img(src="./img/cat_1.png")
      .card__img(style="background-image: url('./img/cat_1.png')")
      h2.card__title=cardItem.title
      .card__group
        .card__color=cardItem.color
        .card__age
          span=cardItem.age
          | Возраст
        .card__paws
          span=cardItem.paws
          | Кол-во лап
      h2.card__price=cardItem.price
      if cardItem.disabled
        button.card__btn(disabled) Продан
      else
        button.card__btn Купить

doctype html
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Котики
  body 
    section.hero#top
      .hero__overlay
      .container
        header.header
          .logo
            img.logo__img(src="./img/logo.svg")
          - let menuLinks = [];
          - menuLinks.push({itemClass: "nav__menu-item", linkClass: "nav__menu-link", href: "#", text: "Main"});
          - menuLinks.push({itemClass: "nav__menu-item", linkClass: "nav__menu-link", href: "#", text: "Gallery"});
          - menuLinks.push({itemClass: "nav__menu-item", linkClass: "nav__menu-link", href: "#", text: "News"});
          - menuLinks.push({itemClass: "nav__menu-item", linkClass: "nav__menu-link", href: "#", text: "Profile"});
          ul.nav__menu#nav__menu
            each menuLink in menuLinks
              +navMenu(menuLink)
          .header__info
            span +544 3490 00000
            p Звони скорее!
          button.btn-bars#btn-bars
            img.btn-bars__img(src="./img/bars.svg")
          a.btn-topscroll#btn-topscroll(href="#top")
        h1.hero__title#hero__title Найдено 349 котов
    main.main
      .container
        .main__sort
          span.sort__title Сортировать по:
          ul.sort__btns
            li.sort__item
              button.sort__btn#sort__price Цене
                .sort__btn--after
            li.sort__item
              button.sort__btn#sort__age Возрасту
                .sort__btn--after
        .main__content#cards-container
          //- - const cards = [];
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: false, discount: true, discountPrice: "-40%"});
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: true, discount: false});
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: false, discount: false});
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: false, discount: false});
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: false, discount: true, discountPrice: "-40%"});
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: true, discount: false});
          //- each card in cards
          //-   +card(card)
        .btn-seemore__container#viewmore__container
          p.cards__info#cards__info Котиков больше нет :&#x28;
          button.btn-seemore.active#viewmore Показать ещё
    footer.footer#footer
      .container
        .cta
          .cta__content
            h1.cta__title Успей купить!
            p.cta__subtitle Подпишись и успей словить все акции
          form.cta__form
            .cta__form-group
              .input__group
                input.cta__form-email#cta__form-email(type="email" placeholder="Email" name="email")
                small.cta__message#cta__message
              input.cta__form-btn#cta__form-btn(type="submit" value="Подписаться")
            .cta__checkbox-group
              label(for="cta__form-checkbox") Подписаться на новости
                input.cta__checkbox#cta__checkbox(type="checkbox" checked="checked")
                span.cta__markbox#cta__markbox
      

dist/index.html
<!doctype html><html lang="ru-RU"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><title>Котики</title><script defer="defer" src="js/main.bundle.js"></script><link href="main.c7d5f8d929b05be5d187.css" rel="stylesheet"></head><body><section class="hero" id="top"><div class="hero__overlay"></div><div class="container"><header class="header"><div class="logo"><img class="logo__img" src="./img/logo.svg"></div><ul class="nav__menu" id="nav__menu"><li class="nav__menu-item"><a class="nav__menu-link" href="#">Main</a></li><li class="nav__menu-item"><a class="nav__menu-link" href="#">Gallery</a></li><li class="nav__menu-item"><a class="nav__menu-link" href="#">News</a></li><li class="nav__menu-item"><a class="nav__menu-link" href="#">Profile</a></li></ul><div class="header__info"><span>+544 3490 00000</span><p>Звони скорее!</p></div><button class="btn-bars" id="btn-bars"><img class="btn-bars__img" src="./img/bars.svg"></button><a class="btn-topscroll" id="btn-topscroll" href="#top"></a></header><h1 class="hero__title" id="hero__title">Найдено 349 котов</h1></div></section><main class="main"><div class="container"><div class="main__sort"><span class="sort__title">Сортировать по:</span><ul class="sort__btns"><li class="sort__item"><button class="sort__btn" id="sort__price">Цене<div class="sort__btn--after"></div></button></li><li class="sort__item"><button class="sort__btn" id="sort__age">Возрасту<div class="sort__btn--after"></div></button></li></ul></div><div class="main__content" id="cards-container"></div><div class="btn-seemore__container" id="viewmore__container"><p class="cards__info" id="cards__info">Котиков больше нет :&#x28;</p><button class="btn-seemore active" id="viewmore">Показать ещё</button></div></div></main><footer class="footer" id="footer"><div class="container"><div class="cta"><div class="cta__content"><h1 class="cta__title">Успей купить!</h1><p class="cta__subtitle">Подпишись и успей словить все акции</p></div><form class="cta__form"><div class="cta__form-group"><div class="input__group"><input class="cta__form-email" id="cta__form-email" type="email" placeholder="Email" name="email"><small class="cta__message" id="cta__message"></small></div><input class="cta__form-btn" id="cta__form-btn" type="submit" value="Подписаться"></div><div class="cta__checkbox-group"><label for="cta__form-checkbox">Подписаться на новости<input class="cta__checkbox" id="cta__checkbox" type="checkbox" checked="checked"><span class="cta__markbox" id="cta__markbox"></span></label></div></form></div></div></footer></body></html>
